.log-list {
    width: 100%;
    height: 50%;
    overflow-x: hidden;
    overflow-y: scroll;
    font-size: 10px;
    -webkit-overflow-scrolling: touch;

    .entry {
        .message {

        }
    }
}
