.btn {
  display: inline-block;
  white-space: nowrap;
  padding:5px 10px 5px 10px;
  @include border-radius(5px);
  margin-bottom:20px;
  background-color: $color_blue_light;
  border:1px solid $color_blue_middle;
  color:$color_white;
  cursor:pointer;

  &:focus,
  &:active,
  &:hover {
    color:$color_white;
    background-color: $color_blue_middle;
    border:1px solid $color_blue_middle;
  }
}