#header-nav {
  background-color: $color_blue_darker;

  .navbar-brand {
    span.glyphicon-repeat {
      animation: spin 3s infinite linear;
    }
  }

  .icon-bar {
    background-color: $color_very_light_grey;
  }
}

@keyframes spin {
  0%   {transform: rotate(0deg)}
  100% {transform: rotate(360deg)}
}