#header-nav {
  background-color: $color_blue_darker;

  .navbar-brand {
    span {
      &.flashing {
        animation: pulse 1s infinite linear;
      }
    }
  }

  .icon-bar {
    background-color: $color_very_light_grey;
  }
}

@keyframes pulse {
  0%   {opacity:1}
  50%  {opacity:0}
  100% {opacity:1}
}