#main-nav {

  padding-top:30px;

  .nav {
    li {
      a {
        font-size:14px;
        padding-top:10px;
        padding-bottom:10px;
        border-radius: 5px;
        margin-bottom:10px;

        span {
          padding-right:10px;
          top:3px;
        }
        &:focus,
        &:hover {
          background-color: $color_blue_darker;
        }
      }
    }
  }
}