$color_blue_darker: #233140;
$color_blue_dark: #2C3E50;
$color_blue_middle: #2980B9;
$color_blue_light: #3498DB;
$color_red: #E74C3C;
$color_warning: #E78B00;
$color_green:#00B259;
$color_white: #ECF0F1;
$color_light_grey: #dde2e4;
$color_very_light_grey: #e4e4e4;
$color_black: #000000;

