/* line 1, ../sass/_basic.scss */
body, html {
  height: 100%;
  width: 100%;
  line-height: 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  color: #e4e4e4;
  background-color: #2C3E50;
}

/* line 10, ../sass/_basic.scss */
a {
  color: #e4e4e4;
}
/* line 13, ../sass/_basic.scss */
a:active, a:focus {
  color: #e4e4e4;
}
/* line 17, ../sass/_basic.scss */
a:hover {
  color: #dde2e4;
}

/* line 21, ../sass/_basic.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0px 0px 20px 0px;
}

/* line 24, ../sass/_basic.scss */
ul {
  padding: 0px;
}
/* line 26, ../sass/_basic.scss */
ul li {
  list-style: none;
}

/* line 1, ../sass/_forms.scss */
.form-group {
  margin-bottom: 20px;
}

/* line 4, ../sass/_forms.scss */
.form-control {
  width: 100%;
  display: block;
  height: 34px;
  padding: 6px 12px;
  color: #2C3E50;
  background-color: #ECF0F1;
  background-image: none;
  border: 1px solid #2C3E50;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 1, ../sass/_buttons.scss */
.btn {
  display: inline-block;
  white-space: nowrap;
  padding: 5px 10px 5px 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: #3498DB;
  border: 1px solid #2980B9;
  color: #ECF0F1;
  cursor: pointer;
}
/* line 12, ../sass/_buttons.scss */
.btn:focus, .btn:active, .btn:hover {
  color: #ECF0F1;
  background-color: #2980B9;
  border: 1px solid #2980B9;
}

/* line 1, ../sass/_tables.scss */
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px 8px 8px 8px;
}

/* line 9, ../sass/_tables.scss */
.table {
  background-color: #ffffff;
  border-top: 1px solid #dde2e4;
  border-left: 1px solid #dde2e4;
  border-right: 1px solid #dde2e4;
  border-bottom: 1px solid #dde2e4;
}
/* line 17, ../sass/_tables.scss */
.table td.error,
.table th.error,
.table tr.error {
  background-color: #E74C3C;
  color: #ECF0F1;
}
/* line 24, ../sass/_tables.scss */
.table td.warning,
.table th.warning,
.table tr.warning {
  background-color: #E78B00;
  color: #ECF0F1;
}
/* line 31, ../sass/_tables.scss */
.table td.success,
.table th.success,
.table tr.success {
  background-color: #00B259;
  color: #ECF0F1;
}
/* line 40, ../sass/_tables.scss */
.table thead tr th {
  border-bottom: 1px solid #dde2e4;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #dde2e4;
  white-space: nowrap;
}
/* line 53, ../sass/_tables.scss */
.table tbody tr:first-child td {
  border-top: 0px;
}
/* line 60, ../sass/_tables.scss */
.table td.type {
  text-transform: uppercase;
  width: 120px;
}
/* line 64, ../sass/_tables.scss */
.table th.size,
.table td.size {
  width: 80px;
}
/* line 68, ../sass/_tables.scss */
.table th.unsigned,
.table td.unsigned {
  text-align: center;
  width: 120px;
}
/* line 73, ../sass/_tables.scss */
.table th.not-null,
.table td.not-null {
  text-align: center;
  width: 120px;
}
/* line 78, ../sass/_tables.scss */
.table th.primary,
.table td.primary {
  text-align: center;
  width: 120px;
}
/* line 83, ../sass/_tables.scss */
.table th.auto-increment,
.table td.auto-increment {
  text-align: center;
  width: 120px;
}
/* line 88, ../sass/_tables.scss */
.table th.default,
.table td.default {
  width: 240px;
}
/* line 92, ../sass/_tables.scss */
.table i.fa {
  font-size: 20px;
}

/* line 1, ../sass/_header_nav.scss */
.header-nav {
  background-color: #233140;
}
/* line 3, ../sass/_header_nav.scss */
.header-nav .icon-bar {
  background-color: #e4e4e4;
}

/* line 4, ../sass/_main_nav.scss */
#main-nav .nav li a {
  font-size: 14px;
  padding-top: 20px;
  padding-bottom: 20px;
}
/* line 8, ../sass/_main_nav.scss */
#main-nav .nav li a span {
  padding-right: 10px;
  top: 3px;
}
/* line 12, ../sass/_main_nav.scss */
#main-nav .nav li a:focus, #main-nav .nav li a:hover {
  background-color: #233140;
}

/*# sourceMappingURL=style.css.map */
