html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1,user-scalable=no")
        meta(name="apple-mobile-web-app-capable" content="yes")
        meta(name="apple-mobile-web-app-status-bar-style" content="black")

        link(rel="apple-touch-icon" href="/img/robot-icon.png")
        link(rel="apple-touch-startup-image" href="/img/robot-icon.png")
        link(rel="stylesheet" href="/css/style.min.css")

        title Robot

    body

        #log-list.log-list

        template#log-list-entry
            .entry
                .message(data-attribute="message")
                .code(data-attribute="code")

        script(src="/js/vendor.min.js")
        script(src="/js/index.min.js")

