.btn {
  display: inline-block;
  white-space: nowrap;
  padding:5px 10px 5px 10px;
  margin-bottom:20px;
  background-color: $color_red;
  border:1px solid $color_blue_darker;
  color:$color_white;
  cursor:pointer;

  &:focus,
  &:active,
  &:hover {
    background-color: $color_blue_light;
    color:$color_white;
  }
}